.split {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.split2 {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
    padding-top: 5px;
  /*background-color: red;*/
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered2 {
   top: 93%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered3 {
  top: 93%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
        /*.card{*/
        /*    border:1px solid black;*/
        /*    border-right: none;*/
        /*}*/
        .inner-card{
            /*border: 1px solid gray;*/

            /*border-right: none;*/

            /*border-left:none*/
        }
        .card-img{

            min-height: 250px;
            min-width: 250px;
            max-height: 400px;
            max-width: 400px;
          border: 1px solid black
        }
        .img-card{

        }
.navs{
    background-color: white;
    margin: 0;
    width: 100%;
}
.body-right{
padding: 50px;
    padding-top: 10px;
}
.body-right2{
padding:10px;
    padding-top: 10px;
}
.login-signup{
    margin: 10px;
}
.label_info{
            font-weight: 400;
        }

        .text_area_info{
            margin-left: 50px;
            padding: 10px;
            color: blue;
        }

        .info{
            color: blue;
        }

        .btn_bolck{
        display: block;
        width: 100%;
        }

        .img_user{
            border-radius: 50%;
            border: black 2px solid;
        }

    #video_company{
        width: 100%;
        height: auto;
    }
.all-cards{
    padding-left: 70px;
}
.more{
    text-decoration: none;

}
.more:hover{
    text-decoration: none;
}